body {
  font-family: Arial;
  background-image: "https://www.istockphoto.com/photo/white-recycled-craft-paper-texture-as-background-gm2206710454-624007570?utm_source=unsplash&utm_medium=affiliate&utm_campaign=srp_photos_bottom&utm_content=https%3A%2F%2Funsplash.com%2Fs%2Fphotos%2Fbackground-image&utm_term=background+image%3A%3Aaffiliate-layout-optim%3Aa%3Ab0ac7ea9-e959-4bb3-aa59-061e318fb1c5";
  color: aqua;
  text-align: center;
}

.container {
  margin-top: 100px;
}
.container-apple{
    position: relative;
    display: inline-block;
    text-align: center;
}

#timer {
  font-size: 80px;
  margin: 20px;
  position: absolute;
  color:  #ff3b3b;
  text-shadow: 0 0 10px rgba(0,0,0,0.6);
  top: 53%; 
    left: 240px;
}

button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  background: #00adb5;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  height: 50px;
  width: 90px;
  border-radius: 5px;
}
.apple{
    height: 800px;
    width:700px;
}
.blue{
    color:aqua;
}
.yellow{
    color:yellow;
}
.green{
    color: greenyellow;
}
.Header{
    font-size: 60px;
    font-weight: bold;

    
    color:#ff3b3b;
    text-shadow: 0 0 10px rgba(0,0,0,0.6);

}
.btn{
    height: 45px;
   width: 85px;
}
.control{
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, 120%); 
    width: 100%;
}
.session{
    color:beige;
    text-shadow: 0 0 10px rgba(0,0,0,0.6);
}